
.project_header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    img{
        width: 700px;
    }
    hr{
        width: 100%;
    }
}
.project_videos_container{
    margin-top: 70px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.project_videos{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}