@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Octosquares";
  src: url("/public/fonts/TT_Octosquares_Trial_ExtraLight.ttf") format('truetype');
}

:root{
  --bg-color: #1C0D06;

  background: linear-gradient(var(--bg-color),black);
  font-family: "Octosquares";
}